 <div class=down>
<br>
<br>
 
<h1>أجب جميع الأسئلة لتحصل على الملصق </h1>

<% c=1 %>
<% @quiz.questions.each do |q| %> 
<h3><%= q.question  %></h3> 
<br>
<button class="op<%= c %> answer"  ><%= q.op1 %> </button>
<button class="op<%= c %> answer" ><%= q.op2 %> </button>
<button class="op<%= c %> answer" ><%= q.op3 %></button>
<p class=" answer<%= c %> answer answers" hidden><%= q.answer %></p>
<br>

<%c+=1%>
<br>
<% end %>
<p id="counter" hidden><%= @quiz.id %></p>
<p id="sticker" hidden><%= @quiz.id %></p>

<button class="complete-quiz answer">تم</button> 
<button class="refresh answer" onclick="refresh()">إعادة الإختبار</button>
