<% time=0 %>
<% @user.readings.each do |r| %>
    <% time+= ((r.updated_at - r.created_at) / 60).round(2) %>
<% end %>
   <div class=down>
   <br>
      

<% arr=["darkPink","purple","orange","lightBlue","yellow"] %>
<%c=0 %>
<p class=username> مرحباً   <%= @user.name %></p>
<% if  @user.gender==="ولد" %>
<%= image_tag "boy.png", class:"boy" %>
<% else %>
<%= image_tag "girl.png", class:"boy" %>
<%end %>
<hr>
<% time='%.2f' % [(time * 100).round / 100.0]%>
<h3 class=down> تهانينا لقد أنهيت <%= time %>دقيقة من القراءة </h3>
<div class="flex1">
<% @user.stickers.each do |s| %>
  <% if arr.length==c %>
<%c=0 %>
<% end %>
<div class=" <%= arr[c] %>" id="stickers" >
 <img class="profileSticker" src=<%=s.image %> >

</div>

 <%c+=1 %>
<% end %>

</div>
</div>




