 <br>
  <br>

 <%# <div class="flex1 "> %>


<% arr=["darkPink","purple","orange","lightBlue","yellow"] %>
<%c=0 %>
<%i=0 %>
<% @stories.each do |story| %>
<% if i==0||4 %>
<div class="flex1">

<% else %>

</div>
<% end %>
<%c+=1 %>
<% if arr.length==c %>
<%i=1 %>
<%c=0 %>
<% end %>
<div class="panel" onclick="image()" id=<%= story.id %> style="background-image: url(<%= story.image %>)">
<div class="bg <%= arr[c] %>">

<br>
<br>
<br>
<br>
<br>

    <h3> <%= story.title %> </h3>
    <!-- <img class="img1" id=<%=story.id%> onclick="image()" src= > -->
    </div>
    </div>


<% end %>
<%# </div> %>