 <div class="down ">
<br>
<br>

 <h1><%= @story.title %></h1> <br>
 <img src=<%= @story.image %>> <br>
  <%= @story.min %>
 <p><%= @story.body %> <br></p>
<%#= cl_image_tag @story.audio %>
<%= audio_tag @story.audio, controls: true%>

<% if current_user.is_admin==true %>
<%= form_for @story do |f| %>
    <%= f.file_field :audio %>
    <%= f.submit "Add Audio"%>
    <% end %>
<% end %>
<br>
<button><%= link_to 'ابدأ التحدي',  @story.quiz %></button>
</div>