 <%= @story.image %> <br>
 <%= @story.title %> <br>
 <%= @story.body %> <br>
 <%= @story.min %>
 <%= @story.quiz %>

 <% @story.quiz.questions.each do |q| %>
    <p><%= q.question %></p>
 <% end %>

<%= link_to 'Done', @story.quiz %>