<!DOCTYPE html>
<html>
  <head>
    <title>KidsStories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

    <%# <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> %>
  </head>

  <body>
   <header>

  
<nav class="nava">
  
      <ul>
 <%if user_signed_in? %>

 <li><%= link_to "الملف الشخصي ", user_path(current_user) %></li>

  <li><%= link_to "تسجيل خروج ", destroy_user_session_path, method: :delete %></li>
            
  <% else %>
    
      <button onclick=login()>دخول</button>

  <% end %>
</ul>

         <%#= image_tag "pic1.png" %>
         <%= link_to image_tag('pic1.png', size: '180x68') ,root_path %>
    </nav>
   </header>
    <div class="devise">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>

 
  </body>
 
</html>




